.home-page{
    background-color: #1b1b1b;
}

.photo {
    position: relative;
    text-align: center;
}

.title-name {
    font-family: 'Roboto', sans-serif;
    font-size: 1.8vw;
    font-weight: 700;
    line-height: 28px;
    color:#FFFFFF;
    letter-spacing:0.3cqmax;
    position: absolute;
    top: 23%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.titles h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 5.3vw;
    font-weight: 700;
    line-height: 84px;
    color:#FFFFFF;
    letter-spacing:0.3cqmax;
    position: absolute;
    top: 34%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.about-title {
    position: absolute;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Roboto', sans-serif;
    font-size: 1.2vw;
    font-weight: 400;
    color:#FFFFFF;
    letter-spacing:0.04cqmax;
}
   
.titles button {
    background-color: #FFFFFF;
    color:#272142;
    padding: 1em 3.5em 1.1em;
    border-radius: 50px;
    border: #FFFFFF;
    font-size: 1vw;
    font-weight: 700;
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.titles button:hover {
background-color: #b6b4b4;
border: #b6b4b4;
}

.first-line, .second-line, .third-line, .fourth-line {
    display: flex;
    justify-content: space-around;
}

@media (max-width:780px) {
    .first-line, .second-line, .third-line, .fourth-line {
        display: flex;
        flex-direction: column;
    }

    .first-item, .second-item, .third-item, .fourth-item {
        display: flex;
        justify-content: center;
    }
    
    .first-item {
        margin: 20px 0 !important;
    }
}

.first-item {
    margin: 80px 0 40px 0;
}

.second-item {
    margin-bottom: 40px;
}

.third-item {
    margin-bottom: 40px;
}

.fourth-item {
    margin-bottom: 80px;
}